*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: #1b1c1f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 410px;
  height: 410px;
  background: linear-gradient(to bottom, #292e37, #1e232c);
  border-radius: 20px;
  padding: 30px;
}

.box-item {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828994;
  cursor: pointer;
}

.box-item-main {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828994;
}

.box-icon i {
}

.box-rating {
  display: flex;
  justify-content: space-between;
}

.box-title {
  color: white;
  margin: 35px 0 25px;
}

.box-subtitle {
  color: #828994;
  margin-bottom: 35px;
}

.box-rating {
  margin-bottom: 30px;
}

.rating-item {
  color: #828994;
}

.box-btn {
  width: 100%;
  color: white;
  background-color: #f17616;
  padding: 20px 0;
  border-radius: 50px;
}

.box-center {
  text-align: center;
}

.box-select {
  color: #f17616;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 35px;
}

.show {
  background-color: #f17616;
  color: white;
}

.box-result {
  background-color: #1b1c1f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.box-show {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
